.hero {
  min-height: calc(100vh - 6rem);
  background-color: var(--lemon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  width: 100%;
  height: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero__container--text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.hero__text--heading {
  color: var(--black);
  font-size: 3.5rem;
}

.hero__text--subheading {
  color: var(--brown);
}

.hero__text--btn {
  margin-top: 1rem;
  outline: none;
  border: none;
  background-color: var(--yellow);
  color: var(--black);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1.2rem;
  border: 2px solid var(--yellow);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.hero__text--btn:hover {
  background-color: var(--lemon);
  border: 2px solid var(--black);
  transition: all 0.25s ease;
}

.hero__text--stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin-top: 1rem;
}

.hero__text--stat {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.hero__stat--num {
  color: var(--gray);
  font-size: 1.5rem;
}

.hero__stat--label {
  color: var(--gray);
  font-size: 0.8rem;
}

.hero__container--image {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image--blob {
  z-index: 1;
  width: 100%;
}

.hero__image--img {
  z-index: 2;
  position: absolute;
  width: 100%;
  max-width: 500px;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}

.hero__image--img--active {
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

@media screen and (max-width: 900px) {
  .hero__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .hero__container--text {
    min-width: 0;
  }

  .hero__container--image {
    min-width: 0;
  }
}

@media screen and (max-width: 425px) {
  .hero__text--heading {
    font-size: 2.5rem;
  }
}
