.specials__container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 4rem;
}

.specials__header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.specials__header--block {
  background-color: var(--yellow);
  height: 4rem;
  width: 1rem;
}

.specials__header--title {
  font-size: 2.5rem;
  color: var(--black);
}

.specials__slider--container {
  width: 100%;
}

.slick-list {
  margin: 0 -1rem;
}

.slick-slide > div {
  padding: 0 1rem;
}

.specials__card {
  width: 400px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--lemon);
  transition: all 0.25s ease;
}

.specials__card--image {
  width: 100%;
  overflow: hidden;
  height: 200px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specials__card--image img {
  width: 100%;
  /* object-fit: cover; */
}

.specials__card--name {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1rem;
}

.specials__card--cat-rate {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials__card--category {
  color: var(--gray);
  font-style: italic;
}

.specials__card--rating {
  color: var(--black);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.specials__card--rating-star {
  font-size: 0.9rem;
  color: var(--yellow);
}

.specials__card--prices {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--yellow);
  border-radius: 0.25rem;
}

.specials__card-price {
  color: var(--black);
  font-weight: 500;
  text-decoration: line-through;
}

.specials__card-disc {
  color: var(--black);
  font-weight: 700;
}
