:root {
  --black: #212529;
  --gray: #aaa4a1;
  --blue: #003049ff;
  --darkorange: #c15518;
  --brown: #594632;
  --orange: #f77f00ff;
  --yellow: #fcbf49ff;
  --lemon: #fcf9ee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
}

.section {
  padding: 7rem 0;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 1.5rem;
  }
}
